.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.welcome {
  margin-bottom: 10px;
  font-size: 4vh;
}
.title-image { 
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
}

.site-info {
  font-weight: bold;
}

.homepage-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-select {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepage-button-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.homepage-button {
  background-color: #6335E5;
  padding: 12px;
  border-radius: 8px;
  width:fit-content;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.game-screen-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.game-screen-title {
  color: #582EC9;
  margin: 30px;
  font-size: 5vh;
  padding: 0;
}

.game-screen-options-container {
  background-color: #BCA7F5;
  width: 40%;
  /* padding: 10%; */
}

.player-select {
 display: flex;
 background-color: #BCA7F5;
 justify-content: space-evenly;
 margin: 10px 0 10px 0;
}

.radio-container {
  margin: 30px 0;
}
.radio-input-word {
  margin: 0 15px 0 5px;
}
.player {
  background-color: #6335E5;
  color: white;
  padding: 5px;
  border-radius: 7px;
}

.player-select-span-left {
  background-color: #BCA7F5;
  margin-left: 10px;
  font-size: 3vh;
} 
.player-select-span-right {
  background-color: #BCA7F5;
  margin-right: 10px;
  font-size: 3vh;
} 

.background-color {
  background-color: #BCA7F5;
}

.game-screen-list-container {
  background-color: #BCA7F5;
}

.input-style {
  margin: 0 5px 0 20px;
}

.list-difficulty {
  background-color: #BCA7F5;
  list-style-type: none;
  padding: 20px;
}

.radio-button {
  accent-color: #6335E5;
}

.list-item-difficulty {
  background-color: #BCA7F5;
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.game-screen-button {
  background-color: #6335E5;
  padding: 7px 25px;
  margin: 0 0 15px 0;
  border-radius: 8px;
  width:fit-content;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
