

.sectionBtn {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.practiceBtn {
  background-color: #6335E5;
  border: #6335E5;
  border-radius: 10px;
  height: 80px;
  width: 604px;
  text-align: left;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.practiceText {
  padding: 20px 55px 20px 57px;
}

.timedBtn {
  background-color: rgb(255, 255, 255);
  border: 1px solid #6335E5;
  padding: 17px 60px 17px 60px;
  color: black;
}

.startBtn {
  background-color: #6335E5;
  border: #6335E5;
  color: rgb(255, 255, 255);
  border-radius: 70%;
  height: 90px;
  width: 180px;
  font-size: 30px;
}

.memoryGame {
  height: 85vh;
  display: flex;  
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
  align-content: flex-start;
}

.memoryCard {
  height: 20vmin;
  width: 30vmin;
  margin: 10px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 2px 6px 7px rgba(0,0,0,.3);
}

/* when element gets clicked */
.memoryCard:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memoryCard.flip {
  transform: rotateY(180deg);
}

.frontface, .backface {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  backface-visibility: hidden;
}

.frontface {
  
  transform: rotateY(180deg);
}
