.modal{
    background-color: #582EC9;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    
}

.modalText{
    color: white;
    font-size: 50px;
    margin: auto 0;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.first,.second{
    margin-left: 600px;
    padding-top: 5px;
}


.playAgn{
    background-color: #ECE5FF;
    color: #582EC9;
}
.backHome{
    background-color: #ECE5FF;
    color: #582EC9;
}

.profile{
    background-color: #D9D9D9;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-left: 500px;
    margin-right: 500px;
}